<!-- cinema/templates/cinema/booking_confirmation.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
</head>
<body>
    <h1>Booking Confirmation</h1>

    <h2>Your Tickets:</h2>
    <ul>
        {% for ticket in tickets %}
            <li>{{ ticket.user_name }} - {{ ticket }}</li>
        {% endfor %}
    </ul>
</body>
</html>
